.products__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 1px);
  border-top: 1px solid $colorDark;
  margin-right: -1px;
}

// the problem with horizontal scrolling, I left the original version, rewrote it in a cascade, if it was done intentionally, just comment out my code
.products__list {
  width: calc(100%);
  margin-right: 0;
}
